[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-socketio = "*"
pyjwt = "*"
pymongo = "*"
argon2-cffi = "*"
geopy = "*"
web3 = "*"
gunicorn = "==20.1.0"
eventlet = "==0.30.2"
flask-cors = "*"
cffi = "*"

[dev-packages]

[requires]
python_version = "3.9"
